@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.weather-app {
    min-height: 93vh;
    margin: 20px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, .3);
    height: 93vh;
    
}
.app {
    background-color: #ffffff;
}
.main.sunny {
    background-color: #ef8354;
}
/* .main.dust, .main.fog, .main.smoke, .main.clouds, .main.snow {
    background-color: #bfc0c0;
} */

.main.dust, .main.fog, .main.smoke, .main.clouds, .main.snow {
    background-color: #ffffff;
}
.main.rain, .main.drizzle, .main.mist, .main.cold, .main.windy {
    background-color: #4F5D75;
}
.main.tornado, .main.thunderstorm {
    background-color: #2d3142;
}
.main.clear {
    background-color: #ffffff;
}

.main {
    min-height: 100vh;
    width: 25vw;
    padding: 25px;
    background-color: #ffffff;
}

.search-box {
    width: 100%;
    margin: 0 0 20px;
}

.search-box .search-bar {
    width: 100%;
    display: block;
    padding: 15px;
    appearance: none;
    border: none;
    background: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, .3);
    font-size: 18px;
}

.search-box .search-bar:focus {
    background-color: rgba(247, 247, 247, 0.8);
    transition: all ease 0.4s;
}

.location-box {
    padding: 30px 0;
    text-align: right;
}

.location-box .location {
    color: rgba(49, 39, 39, 0.9);
    font-size: 33px;
    font-weight: 700;
}

.location-box .date {
    color: rgb(49, 49, 39, 0.9);
    text-align: right;
    font-size: 18px;
    font-style: italic;
}

.weather-box {
    text-align: right;
    
}

.weather-box .temp {
    position: relative;
    display: inline-block;
    font-size: 75px;
    padding: 25px 0;
    text-align: right;
    color: rgb(49, 49, 39, 0.9);
}

.weather-box .weather {
    font-size: 33px;
    color: rgba(49, 39, 39, 0.9);
    text-align: center;
    font-size: 33px;
    font-weight: 700;
    font-style: italic;
    text-align: right;
}