* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.weather.sunny {
  background-image: url('./assests/sunny.jpg');
}
.weather.cold {
  background-image: url('./assests/freezing.jpg');
}
.weather.cloudy {
  background-image: url(./assests/cloudy.jpg);
}
.weather.snowy {
  background-image: url('./assests/snowy.jpg');
}

.weather {
  min-height: 100vh;
  width: 350px;
  padding: 25px;
  
  background: linear-gradient(rgba(255, 255, 255, .2), rgba(255, 255, 255, .2)), url("./assests/windy.jpg"); 
  
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease-out;
  border-radius: 40px;
  border: #FFFF 5px solid;
}



.search-box {
  width: 100%;
  margin: 0 0 20px;
  
}

.search-box .search-bar {
  width: 100%;
  display: block;
  padding: 15px;

  appearance: none;
  border: none;
  background: none;
  outline: none;

  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  box-shadow: 0 3px rgba(0, 0, 0, 0.2);

  font-size: 18px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.8);
  transition: ease 0.4s;
}
